{% extends 'padre.html' %} {% load static %} {% block contenido %}

<main>
  <div class="container">
    <div class="row">
      <div class="col 12 col-md-4">
        <h2>Buscar Cursos</h2>
        <form action="buscar" method="GET">
          <p>Nombre curso</p>
          <input type="text" name="nombre" id="nombre" />
          <button>Buscar</button>
        </form>
      </div>
      <div class="col 12 col-md-4">
        <h2>Buscar Profesores</h2>
        <form action="buscar_profesores" method="GET">
          <p>Nombre Profesor</p>
          <input type="text" name="nombre" id="nombre" />
          <button>Buscar</button>
        </form>
      </div>
      <div class="col 12 col-md-4">
        <h2>Buscar Alumnos</h2>
        <form action="buscar_alumnos" method="GET">
          <p>Nombre Alumno</p>
          <input type="text" name="nombre" id="nombre" />
          <button>Buscar</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
