{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

    <!--{% for n in cursos %}
        <p>{{n.nombre}}</p>
        <p>{{n.camada}}</p>
    {% endfor %} -->
<main class="container">
    <h1 class="text-xl-center"> Cursos</h1>
    <table class="table">
        <!-- esta es la estructura de boostrap -->
        <!-- creo una tabla y por cada vuelta me agrega una fila --> 
        <thead>
            <tr>
                <!-- titulos de la tabla -->
                <th>id</th>
                <th>nombre</th>
                <th>camada</th>
            </tr>
        </thead>
        <tbody>
            <!-- ingresas las filas de la tabla -->
            {% for n in cursos %}
                <tr>
                    <!-- filas de la tabla -->
                    <th scope="row">{{n.id}}</th>
                    <!-- data de la tabla -->
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</main>
{% endblock %}